{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container px-5 pb-5"> 
    <h1 class="display-5 fw-bolder mb-0 pb-5"><span class="text-gradient d-inline">Les dernières actus</span></h1>
 
    <div class="row gx-5 justify-content-center">
       <div class="col-lg-11 col-xl-9 col-xxl-8">
 
          {% for post in posts|slice(0, 3) %}
          <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
             <div class="card-body p-0">
                 <div class="d-flex align-items-center">
                     <div class="p-5">
                         <h2 class="fw-bolder">{{ post.title }}</h2>
                         <p>{{ post.content|raw }}</p>
                         <a href="{{ path('app_front_actu_detail', { 'id': post.id }) }}" class="btn btn-primary">Lire plus</a>
                         <div> {{ post.createdAt|date( "d/M/Y h:s")}}</div>
                         {% for tag in post.tags %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                         {% endfor %}
                     </div>
                 </div>
             </div>
         </div>
         {% endfor %}
       
       </div>
    </div>
 </div>

<div class="container px-5 pb-5 d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-end mb-3">
<a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="{{ path('app_front_actualites') }}">Voir toutes les actualités</a>
</div>
   
 
{% endblock %}
